html {
    background-color: #fff;
}

a {
    color: #000;
}


.header {
    display: block;
    font-size: 25px;
    font-family: 'Outfit';
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.8rem;
    flex: 0 0 48%;
    height: auto;
    width: 22rem;
    border: 1px solid #d2d2d7;
    border-radius: 12px;
    text-align: center;
    padding: 18px;
}

.box:hover {
    border: 1px solid dodgerblue;
}

.call-icon {
    height: 32px;
    padding-bottom: 8px;
}

.btxt {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 15px;
}

.ttxt {
    font-family: 'Outfit';
    font-weight: 100;
    font-size: 15px;
    letter-spacing: .3px;
    padding-top: 4px;
}

link {
    color: #000000;
    padding-top: 4px;
    font-weight: 200;
}

link:hover {
    text-decoration: underline;
}

.agent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.8rem;
    flex: 0 0 48%;
    height: auto;
    width: 8rem;
    border: 1px solid #d2d2d7;
    border-radius: 12px;
    text-align: center;
    padding: 8px;
}