/*CSS*/

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: 'SF Pro Display', sans-serif;
  background-color: #f5f5f7;
}

a{
  display: block;
  text-decoration: none;
}

.container{
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header{
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(50, 50, 51, 1);
  backdrop-filter: blur(.4rem);
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile{
  display: none;

}

.nav-link{
  font-size: 1.4rem;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 100;
  color: #fff;
  padding: 0 1rem;
  transition: opacity .5s;
}

.nav-link:hover{
  opacity: .7;
}

.nav-link-logo{
  width: 1.6rem;
  height: 2.4rem;
  background: url("images/icons/fea.svg") center no-repeat;
}

.nav-link-search{
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/search.svg") center no-repeat;
}

.nav-link-bag{
  width: 1.4rem;
  height: 4.4rem;
  background: url("images/icons/bag.svg") center no-repeat;
}

.hero{
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: .6rem solid #fff;
  border-bottom: .6 solid #fff;
}

.title{
  text-align: center;
  padding-top: 5.5rem;
}

.typography-hero-violator {
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    margin-bottom: 0.5em;
    background: rgba(0,0,0,0);
    border-color: #bf4800;
    color: #f56300;
}

.title-dark{
  color: #333;
}

.title-light{
  color: #fff;
}
.title-heading{
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-sub-heading{
  font-size: 2.65rem;
  margin-top: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

.title.price{
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}

.cta{
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link{
  color: #0071E3;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2){
  margin-left: 2.6rem;
}

.cta-link:hover{
  border-bottom: 2px solid #66bbff;
}

.cta-link-darker{
  color: #0066CC;
}

.button{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
}

.button:hover{
  opacity: 90%;
}

footer{
  color: #8a8a8a;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1.15rem;
  text-align: center;
  margin-top: .6rem;
  margin-bottom: .6rem;
  letter-spacing: .008rem;
  font-weight: 400;
}

@media screen and (max-width: 767px){

  .hero{
    height: 50rem;
    background-size: auto 54.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title-heading{
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.07143;
    letter-spacing: -.005rem;
  }

  .title-sub-heading{
    font-size: 1.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
  }

  .title.price{
    font-size: .7rem;
    color: #888;
    margin-top: .68rem;
  }

  header{
    height: 4.8rem;
    transition: background-color .36s cubic-bezier(0.32, 0.08, 0.24, 1),
                height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  header .container{
    padding: 0;
  }


  .unit-image-iphone-14{
    margin-top: 4.8rem;
  }

  .nav-list{
    margin-top: 0;
  }

  .nav-list-mobile{
    display: flex;
  }

  .nav-item{
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .nav-item-hidden{
    display: none;
  }

  .mobile-menu{
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line{
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff;
    transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    margin-left: 2rem;
  }

  .line-top{
    margin-top: 3px;
  }

  .line-bottom{
    margin-top: -.8rem;
  }

  .active .line-top{
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  .active .line-bottom{
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  header.active{
    height: 100%;
    background-color: #000;
  }

  .nav-link-logo{
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }

  .nav-link-bag{
    width: 1.6rem;
    height: 4.8rem;
    transition: opacity 3s;
  }

  .nav{
    position: relative;
  }

  .nav-link{
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-larger{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
  }

  .active .nav-list-larger{
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  .active .nav-link-bag{
    opacity: 0;
    transition: opacity .3s;
  }

  .nav-list-larger .nav-item{
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255,255,255,.1);
  }

  .nav-list-larger .nav-item:nth-child(9){
    border-bottom: none;
  }

  .active .nav-list-larger .nav-item{
    animation: fadeIn 1s ease-in;
  }



  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes menuPop {
    from{
      opacity: : 0;
    }
    to{
      opacity: 1;
    }
  }

}


.unit-image-iphone-14{
  height: 59.2rem;
  background: url("images/hero/iphone-14/hero_iphone14__fjmsqstr1ceq_large.jpg") center;
  margin-top: 4.4rem;
  border-top: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .unit-image-iphone-14{
    height: 59.2rem;
    background: url("images/hero/iphone-14/hero_iphone14__fjmsqstr1ceq_medium.jpg") center;
    margin-top: 4.4rem;
    border-top: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .unit-image-iphone-14{
    height: 54rem;
    background: url("images/hero/iphone-14/hero_iphone14__fjmsqstr1ceq_small.jpg") center;
    margin-top: 2rem;
    border-top: none;
  }
}

.unit-image-iphone-14-pro{
  height: 59.2rem;
  background: url("images/hero/iphone-14-pro/hero_iphone14pro__e5xbgo5ffhg2_large.jpg") center;
  border-top: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .unit-image-iphone-14-pro{
    height: 59.2rem;
    background: url("images/hero/iphone-14-pro/hero_iphone14pro__e5xbgo5ffhg2_medium.jpg") center;
    border-top: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .unit-image-iphone-14-pro{
    height: 49.2rem;
    background: url("images/hero/iphone-14-pro/hero_iphone14pro__e5xbgo5ffhg2_small.jpg") center;
    border-top: none;
  }
}

.unit-image-macbook-pro-13{
  height: 69.2rem;
  background: url("images/hero/macbook-pro-13/macbook_pro_13__e3r46kd69eoi_large.jpg") center;
  border-top: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .unit-image-macbook-pro-13{
    height: 69.2rem;
    background: url("images/hero/macbook-pro-13/macbook_pro_13__e3r46kd69eoi_medium.jpg") center;
    border-top: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .unit-image-macbook-pro-13{
    height: 69.2rem;
    background: url("images/hero/macbook-pro-13/macbook_pro_13__e3r46kd69eoi_small.jpg") center;
    border-top: none;
  }
}

.unit-image-logitech-folio{
  height: 59.2rem;
  background: url("images/hero/logitech-universal-folio/hero_logitech_universal_folio_large.jpg") center;
  border-top: none;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .unit-image-logitech-folio{
    height: 59.2rem;
    background: url("images/hero/logitech-universal-folio/hero_logitech_universal_folio_medium.jpg") center;
    border-top: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .unit-image-logitech-folio{
    height: 59.2rem;
    background: url("images/hero/logitech-universal-folio/hero_logitech_universal_folio_small.jpg") center;
    border-top: none;
  }
}
