@font-face {
  font-family: "ProductSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProductSans/GoogleSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ProductSans/GoogleSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ProductSans/GoogleSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/ProductSans/GoogleSans-Italic.ttf") format('truetype');
}

@font-face {
  font-family: "ProductSans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/ProductSans/GoogleSans-BoldItalic.ttf") format('truetype');
}
