html{
    margin-top: 9.6rem;
    margin-left: auto;
    overflow: auto;
}

body {
    overflow-y: scroll;
}

.store {
    background-color: #f5f5f7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #1d1d1f;
}

.nav-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.p1 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.p2 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d6d6d6;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.03);
    cursor: pointer;
}

.trendy {
  height: 38px;
}

/* Product Navigation */
.pn-cardsshelf.pn-productnav-cardsshelf {
    padding-bottom: 0px;
}

.pn-cards-scroller {
    position: relative;
}

.pn-cards-scroller-crop {
    overflow: hidden;
    height: 20rem;
    padding-bottom: 26px;
}

.pn-cards-scroller-content {
    overscroll-behavior-x: contain;
}

[data-core-scroller] {
    position: relative;
    white-space: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.pn-cards-scroller-platter {
    width: 100%;
    vertical-align: top;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 40px;
}

[data-core-scroller-platter]>div {
    display: inline-block;
    scroll-snap-coordinate: left;
    scroll-snap-align: start;
}

.pn-cards-scroller-platter>div:first-child .pn-cards-scroller-itemview {
    margin-left: 0;
}

.pn-cards-scroller-itemview {
    display: flex;
    height: 29.41176rem;
    margin-right: 20px;
    transform: translateX(calc(max(1024px, 100vw)/2 - 490px));
}

.pn-productnav-card {
    vertical-align: top;
}

.pn-productnav-card-content {
    overflow: hidden;
    border-radius: 18px;
    height: 148px;
    min-width: 136px;
    padding: 18px 8px 16px;
    box-sizing: border-box;
}

.pn-productnav-card-image {
    padding-bottom: 16px;
}



.pn-productnav-card-image-size {
    aspect-ratio: auto 200 / 130;
    height: 80px;
}

.pn-productnav-card-title {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: 'Outfit', sans-serif;
    display: block;
    color: #1d1d1f;
    text-align: center;
    white-space: nowrap;
}





.cards-shelf-header {
    padding-bottom: 14px;
}
.text-container {
    padding-left: 45px;
    margin-left: auto;
    margin-right: auto;
}

.cards-shelf-mainheader, .cards-shelf-secondaryheader {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: 'Outfit', sans-serif;
    display: inline;
    text-align: left;
}

.cards-shelf-secondaryheader {
    color: #6e6e73;
}

.cards-header {
    padding-bottom: 14px;
  }

.cards-mainheader, .cards-secondaryheader {
    font-size: 43px;
    width: 60rem;
    line-height: 1.14286;
    font-weight: 700;
    letter-spacing: .007em;
    font-family: 'Outfit', sans-serif;
    display: inline;
    text-align: left;
}

.cards-secondaryheader {
    color: #6e6e73;
}

.shop-chat-section {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    -webkit-text-size-adjust: none;
  }

.shop-chat-section .shop-chaticon-container {
    width: 36px;
    height: 36px;
    padding-right: 8px;
}

.shop-chat-section {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    -webkit-text-size-adjust: none;
}

.shop-chat-title {
    font-weight: 600;
    padding-top: 0;
}

.shop-chat-content {
    display: block;
}

.shop-container .shop-chatstore-section {
    position: absolute;
    right: 0;
}
.shop-chatstore-section {
    padding-bottom: 54px;
}
.shop-chatstore-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 90px 0 74px;
}
.large-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}
.column {
    width: 70rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.large-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}

.storehome .shop-container.shop-container-withchatandstore {
    min-height: 248px;
}
.shop-container.shop-container-withchatandstore {
    min-height: 168px;
}
.shop-container {

    position: relative;
    min-height: 196px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.shop-header, .shop-subheader {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 400;
    letter-spacing: -.003em;
    font-family: 'Outfit', sans-serif;
    display: inline;
}

.shop-header {
    font-weight: 600;
}

.shop-header-section .shop-subheader {
    color: #6e6e73;
}

.shop-neareststore {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    -webkit-text-size-adjust: none;
}

.shop-neareststore .as-svgicon-container {
    width: 36px;
    height: 36px;
    padding-right: 8px;
}

.shop-neareststore .as-svgicon-container .as-svgicon {
    margin-top: 0;
    margin-left: 0;
}


.cards-scroller {
    position: relative;
}

.cards-scroller-crop {
    overflow: hidden;
}

.cards-scroller-overflow {
    overflow: hidden;
    overflow-x: auto;
    transition: 2s;
}

.cards-scroller-platter {
    vertical-align: top;
    display: inline-flex;
}

.cards-scroller-item {
    display: inline-flex;
    margin: 20px 10px;
}

.cards-scroller-item:first-child {
    margin-left: 0;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
}


.card-img-full {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.card-content.card-content-withfullimg {
    flex-direction: row;
    justify-content: center;
}


.recommcard-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 18px;
    height: 100%;
    width: 40rem;
    padding: 30px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.recommcard-content:hover {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 21%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.recommcard-content-darker {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-radius: 18px;
    height: 100%;
    width: 40rem;
    padding: 30px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.recommcard-content-trendy {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #0092ff;
    border-radius: 18px;
    height: 100%;
    width: 30rem;;
    padding: 30px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.recommcard-content-img {
    width: 100%;
    min-height: 200px;
    padding-top: 1px;
    padding-bottom: 0;
    margin: 0 auto;
}

.recommcard-content-img img {
    display: block;
    width: auto;
    height: 230px;
    margin: 0 auto;
}

.recommcard-content-info {
    display: flex;
    flex-direction: column;
    height: 8.76471rem;
    position: relative;
    padding: 20px 0 0;
    margin-top: 39px;
}

.recommcard-content-violator {
    position: absolute;
    width: 100%;
}

.recommcard-content-violatortext {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'Outfit', sans-serif;
    color: #bf4800;
    display: block;
}

.recommcard-content-title {
    margin-top: 0;
    padding-top: 1.84706rem;
  }

  .recommcard-content-title-darker {
      margin-top: 0;
      padding-top: 1.84706rem;
    }


.recommcard-content-title a {
      font-size: 17px;
      line-height: 1.23536;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Outfit', sans-serif;
      color: #1d1d1f;
      display: block;
  }

  .recommcard-content-title-darker a {
        font-size: 17px;
        line-height: 1.23536;
        font-weight: 400;
        letter-spacing: -.022em;
      font-family: 'Outfit', sans-serif;
        color: #e7e7e7;
        display: block;
    }
  .recommcard-content-price {
      font-size: 14px;
      line-height: 1.28577;
      font-weight: 400;
      letter-spacing: -.016em;
      font-family: 'Outfit', sans-serif;
      padding-top: 33px;
      margin-top: auto;
      white-space: normal;
  }

  .recommcard-content-price-darker {
      font-size: 14px;
      line-height: 1.28577;
      font-weight: 400;
      letter-spacing: -.016em;
      font-family: 'Outfit', sans-serif;
      padding-top: 33px;
      color: #e7e7e7;
      margin-top: auto;
      white-space: normal;
  }

.store {
  border-top: none;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: 'Outfit', sans-serif;
  color: #1d1d1f;
  font-style: normal;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  text-align: left;
  padding-bottom: 54px;
}

.card-content{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 18px;
  width: 40rem;
  height: 50rem;
  white-space: normal;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all .3s cubic-bezier(0,0,.5,1);
}

.card-content:hover {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 21%);
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.card-content-darker{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #000;
  border-radius: 18px;
  width: 40rem;
  height: 50rem;
  white-space: normal;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all .3s cubic-bezier(0,0,.5,1);
}

.cards-scroller-itemview {
    display: flex;
    margin-right: 20px;
    transform: translateX(calc(max(1024px, 100vw)/2 - 490px));
}

.card-img-full-wrapper {
    width: 100%;
}

.card-img-full {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.card-content-info {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Outfit', sans-serif;
    color: #1d1d1f;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    cursor: default;
    white-space: normal;
    padding: 30px;
    width: 35rem;
    position: absolute;
    left: 0;
}

.card-content-eyebrow {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: 'Outfit', sans-serif;
    color: #e7e7e7;
    width: 204px;
    padding-bottom: 8px;
}

.card-content-header {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: 'Outfit', sans-serif;
    color: #1d1d1f;
    padding-top: 20px;
    margin-top: 0;
}

.card-content-desc {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Outfit', sans-serif;
    color: #1d1d1f;
    padding-top: 10px;
    margin-top: 0;
}

.card-content-info-darker {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Outfit', sans-serif;
    color: #e7e7e7;
    font-style: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    cursor: default;
    white-space: normal;
    padding: 30px;
    width: 35rem;
    position: absolute;
    left: 0;
}

.card-content-header-darker {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: 'Outfit', sans-serif;
    color: #e7e7e7;
    padding-top: 20px;
    margin-top: 0;
}

.card-content-desc-darker {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Outfit', sans-serif;
    color: #e7e7e7;
    padding-top: 10px;
    margin-top: 0;
}

.item{
font-size: 17px;
line-height: 1.47059;
font-weight: 400;
letter-spacing: -.022em;
font-family: 'Outfit', sans-serif;
color: #1d1d1f;
font-style: normal;
font-synthesis: none;
-webkit-font-smoothing: antialiased;
direction: ltr;
text-align: left;
}

.buy-button{
    margin-left: 28rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    align-items: flex-end;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Outfit', sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background-color: rgba(50, 50, 51, 1);
    backdrop-filter: blur(2rem);
    color: #fff;
}

.buy-button:hover{
  opacity: 90%;
}

@media screen and (max-width: 890px){

  .shop-container {

      position: relative;
      min-height: 196px;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
  }


  .fea{
    height: 25px;
    width: 25px;
  }

  .shop-header, .shop-subheader {
      font-size: 28px;
  }

  .column {
      width: 40rem;
      box-sizing: border-box;
      margin: 0;
      padding: 35px;
      min-width: 0;
  }
}

@media screen and (max-width: 720px){


  .trendy {
    height: 25px;
  }

  .shop-container {

      position: relative;
      min-height: 196px;
      margin-left: auto;
      margin-right: auto;
      width: 720px;
  }


  .fea{
    height: 25px;
    width: 25px;
  }

  .shop-header, .shop-subheader {
      font-size: 28px;
  }

  .column {
      width: 40rem;
      box-sizing: border-box;
      margin: 0;
      padding: 35px;
      min-width: 0;
  }

  .cards-shelf-mainheader, .cards-shelf-secondaryheader {
      font-size: 19px;
  }

  .card-content{
    width: 20rem;
    height: 25rem;
  }

  .card-content-darker{
    width: 20rem;
    height: 25rem;
  }

  .card-content-info {
      font-size: 17px;
      padding: 30px;
      width: 15rem;
  }

  .card-content-info-darker {
      font-size: 17px;
      padding: 30px;
      width: 15rem;
  }

  .card-content-header {
      font-size: 20px;
      padding-top: 1px
  }

  .card-content-desc {
      font-size: 10px;
      letter-spacing: -.022em;
      padding-top: 1px;
  }

  .card-content-header-darker {
      font-size: 20px;
      padding-top: 1px
  }

  .card-content-desc-darker {
      font-size: 10px;
      letter-spacing: -.022em;
      padding-top: 1px;
  }


  .recommcard-content {
      height: 100%;
      width: 20rem;;
      height: 25rem;
      padding: 1px;
  }

  .recommcard-content-darker {
      height: 100%;
      width: 20rem;
      height: 25rem;
      padding: 1px;
  }

  .recommcard-content-img {
      width: 15rem;
      height: 15rem;
      min-height: 1px;
      padding-top: 5.5px;
      padding-bottom: 0;
      margin: 0 auto;
  }


  .recommcard-content-img img {
    display: block;
    width: auto;
    height: 1px;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
  }

  .recommcard-content-info {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 20px;
  }

  .recommcard-content-title a {
        font-size: 14px;
        line-height: 1.23536;
        font-weight: 400;
        letter-spacing: -.022em;
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        color: #1d1d1f;
        display: block;
    }

    .recommcard-content-title-darker a {
          font-size: 14px;
          line-height: 1.23536;
          font-weight: 400;
          letter-spacing: -.022em;
          font-family: 'Outfit', sans-serif;
          font-weight: 600;
          color: #e7e7e7;
          display: block;
      }

      .recommcard-content-price {
          font-size: 14px;
          line-height: 1.28577;
          font-weight: 400;
          letter-spacing: -.016em;
          font-family: 'Outfit', sans-serif;
          padding-top: 23px;
          margin-top: auto;
          white-space: normal;
      }

      .recommcard-content-price-darker {
          font-size: 14px;
          line-height: 1.28577;
          font-weight: 400;
          letter-spacing: -.016em;
          font-family: 'Outfit', sans-serif;
          padding-top: 23px;
          color: #e7e7e7;
          margin-top: auto;
          white-space: normal;
      }

  .buy-button{
      margin-left: 12.5rem;
      right: 17px;
      top: 77px;
      font-size: 10px;
      min-width: 28px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
  }

}

@media screen and (max-width: 380px){
    .shop-container {
        position: relative;
        min-height: 196px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}

@media screen and (max-width: 480px){

  .trendy {
    height: 20px;
  }

    html {
        margin-top: 6rem;
    }

    .shop-container.shop-container-withchatandstore {
        min-height: 0px;
    }

    .pn-cards-scroller-crop {
        height: 18rem;
    }

  .fea{
    height: 15px;
    width: 15px;
  }

  .shop-header{
    font-weight: 700;
  }

  .shop-header, .shop-subheader {
      font-size: 21px;
  }

.shop-chatstore-section{
  visibility: collapse;
}

  .shop-neareststore {
      font-size: 10px;
  }

    .shop-container {

      position: relative;
      min-height: 196px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
  }

  .cards-shelf-mainheader, .cards-shelf-secondaryheader {
      font-size: 13px;
  }

}
